.form-container-inner {
    max-width: 50%;
    margin: auto;
    font-size: 14px;
}
.fullscreen-img {
width: 100%;
  height: 100vh;
  object-fit: cover;
}
.logo {
     max-width: 250px;
    width: 100%;
    height: auto;
}
label {
      color: var(--color-gray-dark);
      font-size: var(--label-font);
}

