    .step {
        display: none;
    }

    .step.active {
        display: block;
    }


    input {
        width: 100%;
        margin-top: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .icon-btn {
      background-color: #f1f5f9;
  border-radius: 8px;
  border: none;
  padding: 6px 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

    }

 .icon-btn:hover {
  background-color: #e2e8f0;
}
.icon-btn.delete {
  background-color: #fee2e2;
  color: #dc2626;
}

.icon-btn.delete:hover {
  background-color: #fecaca;
}

    .badge {
        font-size: 0.75rem;
        padding: 6px 10px;
    }

    .list-group-item {
        border: none;
        padding-left: 0;
        padding-right: 0;
    }
 .card .btn-add-answer {
 width: 100%;
  background-color: #2563eb; 
  border-radius: 8px;
  padding: 10px 0;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 16px;
  transition: background-color 0.3s ease;
}
.card .btn-add-answer :hover {
  background-color: #1e40af;
}

.btn-primary:hover {
  background-color: #1e4ed8;
}
.btn-success {
  background-color: #16a34a; 
  border: none;
  border-radius: 10px;
  padding: 12px 22px;
  font-size: 1rem;
  font-weight: 600;
}

.btn-success:hover {
  background-color: #15803d;
}

.btn-primary.btn-create-question {
  width: 100%;
  background-color: #959714; /* green */
  border-radius: 12px;
  padding: 14px 0;
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 32px;
  transition: background-color 0.3s ease;
}

.btn-primary.btn-create-question:hover {
  background-color: #15803d;
}
.card-header {
  border-left: 4px solid #ffc107; /* bootstrap primary */
}